In [1]:
import pandas as pd
df = pd.read_csv('spam.csv', encoding = 'cp1252')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [2]:
from textblob import TextBlob # Importing textblob library

In [3]:
text1 = 'food made at restaurant was very good'
blob1 = TextBlob(text1)
blob1.sentiment # subjectivity means opinion

Sentiment(polarity=0.9099999999999999, subjectivity=0.7800000000000001)

In [4]:
# application of this libraries
# For ex : your company has launched a product and people are giving comments about the poduct

In [5]:
df.shape

(5572, 5)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [7]:
df.size

27860

In [8]:
df.iloc[0][1]

'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [9]:
# we dont need to remove the punctuations , stopwords etc
blob = TextBlob(df.iloc[0][1])  # Checking for 0th index
blob.sentiment

Sentiment(polarity=0.15000000000000002, subjectivity=0.7625)

In [10]:
blob.sentiment[0]   # its shows me polarity

0.15000000000000002

In [11]:
sent_list = []
sent_2list = []
for i in range(0,df.shape[0]):
    blob = TextBlob(df.iloc[i][1])
    polarity_score = blob.sentiment[0]
    subjectivity_score = blob.sentiment[1]
    sent_list.append(polarity_score)
    sent_2list.append(subjectivity_score)

In [12]:
df['Sentiment_score'] = sent_list
df['Opinion_score'] = sent_2list
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4,Sentiment_score,Opinion_score
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN,0.15,0.7625
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN,0.50,0.5000
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN,0.30,0.5500
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN,0.10,0.3000
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN,0.00,0.0000

In [13]:
df = df.iloc[::,[1,5,6]]  # polarity score of all rows
df.head()

,v2,Sentiment_score,Opinion_score
0,"Go until jurong point, crazy.. Available only ...",0.15,0.7625
1,Ok lar... Joking wif u oni...,0.50,0.5000
2,Free entry in 2 a wkly comp to win FA Cup fina...,0.30,0.5500
3,U dun say so early hor... U c already then say...,0.10,0.3000
4,"Nah I don't think he goes to usf, he lives aro...",0.00,0.0000

In [14]:
df.Sentiment_score.describe()

count    5572.000000
mean        0.126013
std         0.291791
min        -1.000000
25%         0.000000
50%         0.000000
75%         0.306667
max         1.000000
Name: Sentiment_score, dtype: float64

In [15]:
df[df['Sentiment_score'] < 0].shape  # count of -ve sentiment

(804, 3)

# Vader

In [16]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\Asus\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [17]:
sent = SentimentIntensityAnalyzer()
sent.polarity_scores('everything happens in my life is good')

{'neg': 0.0, 'neu': 0.674, 'pos': 0.326, 'compound': 0.4404}

In [18]:
# neg = negative , neu = neutral , pos = positive , compound = overall

In [19]:
compound_list =[] 
for i in range(0 , df.shape[0]):
    score = sent.polarity_scores(df.iloc[i][0])
    sent_score = score['compound']
    compound_list.append(sent_score)
len(compound_list)

5572

In [20]:
df['Score_vader'] = compound_list

In [21]:
df.head()

,v2,Sentiment_score,Opinion_score,Score_vader
0,"Go until jurong point, crazy.. Available only ...",0.15,0.7625,0.6249
1,Ok lar... Joking wif u oni...,0.50,0.5000,0.4767
2,Free entry in 2 a wkly comp to win FA Cup fina...,0.30,0.5500,0.7964
3,U dun say so early hor... U c already then say...,0.10,0.3000,0.0000
4,"Nah I don't think he goes to usf, he lives aro...",0.00,0.0000,-0.1027

# Hence we find the Sentiment , Subjectivity and Compound score of all sentences